html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}
:root {
    --Color1: #FEFEFF;
    --Color2: #FBFBFA;
    --Color3: #C6C6C7;
    --Color4: #EFEFEF;
    --Color5: rgb(0,0,0,0.2);
    --Color6: rgb(0,0,0,1);
    --Color7: rgb(0,0,0,0.5);
    --ColorFacebook: #3951A4;
    --button1: #EEEFEE;
    --button2: #4CB5F8;
    --text1: #272726;
    --noti1: #FF3141;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: var(--text1);
}

.createNewConversation{
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.LogoCreateConversation{
    height: 100px;
    margin-bottom: 20px;
}
.createNewConversation > h1{
    font-weight: 400;
    font-size: 2.3vh;
}
.createNewConversation > p{
    font-size: 1.5vh;
    color: var(--Color3);
    margin-top: 10px;
}
.createNewConversation > button{
    margin-top: 30px;
    font-size: 1.6vh;
    background-color:  var(--button2);
    color: var(--Color1);
    height: 35px;
    width: 130px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    
}
.createNewConversation > button:hover{
    background-color:  var(--ColorFacebook);
    cursor: pointer;
}
.searchUserToCreateConversation{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: var(--Color1);
    width: 400px;
    height: 600px;
    border: 1px solid var(--Color3);
    border-radius: 10px;

    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    z-index: 5;
}
.searchUserTitle, .searchToUser, .suggestUser, .listSearchUserm, .suggestedUser{

    width: 100%;
}
.searchUserTitle, .searchToUser{
    border-bottom: 1px solid var(--Color3);
}
.searchUserTitle, .searchToUser, .suggestUser {
    display: flex;
    flex-direction: row;
}
.searchUserTitle {
    height: 7%;

    align-items: center;
    justify-content: space-between;

}
.searchUserTitle > img{
    height: 15px;
    padding: 0px 20px;
}
.searchUserTitle > img:hover{
    cursor: pointer;
}
.searchUserTitle > p {
    font-weight: 600;
}
.searchUserTitle > button {
    border: none;
    background-color: transparent;
    padding: 0px 20px;
    color: var(--button2);
    font-size: 1.5vh;
}
.searchUserTitle > button:hover {
    cursor: pointer;
    color: var(--ColorFacebook);
}
.searchToUser{
    align-items: center;
    flex-direction: row;
    height: 9%;
}
.searchToUser > label{
    padding: 0px 20px;
    font-weight: 600;
}
.searchToUser > input{
    padding: 5px 10px;
    width: 70%;
    height: 50%;
    border: none;
}
.searchToUser > input:focus{
    outline: none;
}
.suggestUser{
    margin-top: 10px;
    height: calc(87%-10px);
    overflow-y: scroll;

    flex-direction: column;
}
.suggestedUser > p {
    padding: 10px 0 0 20px;
    font-weight: 600;
}
.listSearchUser, .suggestedUser{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hide {
    display: none;
}
.show{
    display: block;
}