html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root {
    --Color1: #FEFEFF;
    --Color2: #FBFBFA;
    --Color3: #C6C6C7;
    --Color4: #EFEFEF;
    --Color5: rgb(0,0,0,0.2);
    --Color6: rgb(0,0,0,1);
    --Color7: rgb(0,0,0,0.5);
    --ColorFacebook: #3951A4;
    --button1: #EEEFEE;
    --button2: #4CB5F8;
    --text1: #272726;
    --noti1: #FF3141;
}
*{
    margin: 0;
}
.changePassword{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    padding: 20px 50px; 
}
.changeStatus{
    position: fixed;
    background-color: var(--Color1);
    height: 100px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    padding: 25px;
}
.imgNoticeChangeStatus, .textNoticeChangeStatus{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgNoticeChangeStatus{
    width: 70px;
    height: 100%;
}
.textNoticeChangeStatus{
    width: 270px;
    height: 100%;
    margin-left: 10px;
    
}
.inconNotice{
    max-width: 100%;
    margin: auto 0px;
}
.textNotice{
    margin-left: 20px;
    font-size: 2vh;
    font-weight: 600;
}
.hide{
    display: none;
}
.show{
    display: flex;
    animation: appearFromTop 0.2s linear;
}
.labelInputSetting{
    padding: 0;
    padding-right: 20px;
}
@keyframes appearFromTop {
    0% {top: -200px}
    100% {top: 20px}
}