.DashboardPane{
    margin: 30px auto;
    height: fit-content;
    justify-content: center;
}
.postDisplayHolder {
    width: 100%;
    height: 600px;
    border: 0.5px solid var(--Color3);
    display: flex;
    flex-direction: row;
}
.pictureHolder::before{
    position: absolute;
    content: '';
    background-color: var(--text1);
    height: 100%;
    width: 100%;
    z-index: 0;
}
.pictureHolder {
    position: relative;
    overflow: hidden;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pictureHolder > img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    z-index: 2;
}
.contentHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    border-bottom: 0.5px solid var(--Color3);
    border-left: 0.5px solid var(--Color3);
    background-color: var(--Color1);
}
.userOwnPostHolder{
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 0.5px solid var(--Color3);
}
.avatarUserOwnPostHolder{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarUserOwnPostClip{
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarUserOwnPostHolder .avatarUserOwnPostClip img{
    width: 65%;
    height: 65%;
    border-radius: 50%;
}
a.userOwnPostHolder{
    text-decoration: none;
    font-size: 1.5vh;
    color: var(--text1);
    font-weight: bold;
}
a.userOwnPostHolder:hover{
    color: var(--Color3);
}

.commentOnPostHolder {
    padding: 10px 0;
    width: 100%;
    height: calc(65% - 20px);
    border-bottom: 0.5px solid var(--Color3);
    overflow-y: scroll;
    overflow-x: hidden;
}
.oneLineCommentHolder{
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 0px 10px;
}
.avatarUserCommentPostHolder {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatarUserCommentPostClip {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 100%;
}
.avatarUserCommentPostClip > img{
    width: 100%;
}
.usernameCommentPostHolder{
    margin-left: 10px;
    margin-top: 5px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.usernameCommentPost{
    color: var(--text1);
    font-size: 1.5vh;
}
.usernameCommentPostPorfile{
    text-decoration: none;
    font-weight: bold;
    color: var(--text1);
    margin-right: 5px ;
}
.commentDate{
    width: 100%;
    font-size: 1.3vh;
    color: var(--Color3);
}
.btnReactOwnPost {
    width: 100%;
    height: 17%;
    border-bottom: 0.5px solid var(--Color3);
}
.icon-post-wrap{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5px;
}
.buttonReact {
    height: 40px;
    background-color: transparent;
    border: none;
}
.buttonReact > img {
    height: 25px;
}
.buttonReact:hover{
    cursor: pointer;
    opacity: 0.5;
}
.addCommentToPostHolder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 90%;

}
.addCommentToPost[contenteditable]:empty::before{
    content: "Add a comment";
    color: var(--Color3);
    font-size: 1.5vh;
}
.addCommentToPost[contenteditable]{
    font-size: 1.5vh;
    max-height: 100%;
    width: 80%;
    margin-left: 10px;
    border: none;
    resize: none;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.addCommentToPost[contenteditable]:hover{
    cursor: text;
}
.addCommentToPost[contenteditable]:focus{
    outline: none;
}
.postCommentPost{
    width: 20%;
    color: var(--button2);
    font-weight: bold;
    font-size: 1.5vh;
    background-color: transparent;
    border: none;
    padding: 0;
}
.postCommentPost:hover {
    cursor: pointer;
}
.date-time-post, .countLikeOwnPost{
    margin-left: 10px;
}
.countLikeOwnPost {
    font-weight: bold;
}
.date-time-post {
    font-size: 1.4vh;
    color: var(--Color3);
}
.Comment_part {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}