.aPersonChat{
    display: flex;
    flex-direction: row;
    
    height: 70px;
    width: 100%;
}
.aPersonChat:hover {
    cursor: pointer;
    background-color: var(--button1);
}
.aPersonChat:hover .avatarClipHolder {
    transform: scale(1.05);
}
.avatarChatHolder, .nameAndFullnameHolder, .avatarClipHolder{
    display: flex;
}
.avatarChatHolder{
    flex: 5%;
    align-items: center;
    justify-content: center;
}
.nameAndFullnameHolder{
    flex: 45%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.nameAndFullnameHolder > p {
    font-size: 1.5vh;
}
.nameText{
    font-weight: 600;
}
.avatarClipHolder{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;

    justify-content: center;
    align-items: center;
    transition-duration: 0.2s;
}
.avatarPicChat{
    max-height: 50px;
}