<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Pages/Enviroment/CSS/login.css">
    <link rel="icon" href="/Pages/Enviroment/600px-Instagram_icon.png" type="image/icon type">
    <title>Login - Instagram</title>
</head>
<body>
    <div class="loginForm-Main">
        <div class="mobilePhoneSection">
            <div class="firstPhone">
                <img src="/Pages/Enviroment/screenshot3.png" class="screen behind phone">
                <img src="/Pages/Enviroment/vecteezy_smartphone-and-mobile-phone_11047536_296.png" alt="behindPic" class="behind phone">
            </div>
            <div class="secoundPhone">
                <img src="/Pages/Enviroment/login_pic1.png" class="screen front phone refresh active">
                <img src="/Pages/Enviroment/screenshot2.png" class="screen front phone refresh">
                <img src="/Pages/Enviroment/screenshot3.png" class="screen front phone refresh">
                <img src="/Pages/Enviroment/screenshot4.png" class="screen front phone refresh">
                <img src="/Pages/Enviroment/vecteezy_smartphone-and-mobile-phone_11047537_606.png" alt="behindPic" class="front phone">
            </div>
        </div>
        <div class="loginSection">
            <div action="/auth" method="post" class="loginForm">
                <div class="mainLoginMethod">
                    <img src="/Pages/Enviroment/Instagram_logo.png" class="LoginForm-Logo">
                    <div class="userLogin">
                        <!-- <% if (statusLogin == 1) { %>
                            <p class="loginFailed">Không tồn tại tài khoản</p>
                        <% } %> -->
                        <input class="username-Login" type="text" name="username" id="username" placeholder="Username" required>
                        <!-- <% if (statusLogin == 2) { %>
                            <p class="loginFailed">Sai mật khẩu</p>
                        <% } %> -->
                        <input type="password" class="password-Login" name="password" id="password" placeholder="Password" required>
                    </div>
                    <input type="submit" value="Log in" class="submit-login">
                </div>
                <div class="divideMethod">
                    <p class="divideText">OR</p>
                </div>
                <div class="otherLoginMethod">
                    <a class="LoginWithFacebook" action="/facebookLogin">
                        <img class="LogoFacebook" src="/Pages/Enviroment/facebooklogo.png">
                        <span class="loginFacebookText">Log in with Facebook</span>
                    </a>
                    <a href="" class="forgotPassword">Forgot password?</a>
                </div>

            </div>

            <form action="/signup" method="post" class="signUpForm">
                <p class="signUpText">Don't have an account?</p>
                <input type="submit" value="Sign up" class="signUpLink">
            </form>
            <div class="downloadInsta">
                <p class="getTheAppText">Get the app</p>
                <div class="getTheAppLink">
                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android" class="ggPlay">
                        <img src="/Pages/Enviroment/c5Rp7Ym-Klz.png" class="ggPlay_Pic">
                    </a>
                    <a href="ms-windows-store://pdp/?productid=9nblggh5l9xt&referrer=appbadge&source=www.instagram.com&mode=mini&pos=0%2C0%2C1728%2C925" class="microsoft">
                        <img src="/Pages/Enviroment/EHY6QnZYdNX.png" class="microsoft_Pic">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/Pages/Enviroment/Script/Loading.js"></script>
    <script src="/Pages/Enviroment/Script/Login.js"></script>
</body>
</html>